Repository GoogleChromeLabs/wp-sitemaps, pull requests merged in 2020-04, with the labels that each got.

#155 Allow turning off XML stylesheets via stylesheet URL filters
  inc/class-core-sitemaps-renderer.php
Labels: cla: yes

#149 Redirect sitemap.xml to wp-sitemap.xml if about to return a 404
  inc/class-core-sitemaps.php
Labels: Type: Feature, cla: yes

#145 Remove all traces of lastmod
  inc/class-core-sitemaps-provider.php
  inc/class-core-sitemaps-renderer.php
  inc/class-core-sitemaps-stylesheet.php
  inc/class-core-sitemaps-taxonomies.php
  inc/class-core-sitemaps-users.php
  inc/class-core-sitemaps.php
  readme.txt
  tests/phpunit/sitemaps-renderer.php
  tests/phpunit/sitemaps-taxonomies.php
  tests/phpunit/sitemaps-users.php
  tests/phpunit/sitemaps.php
Labels: cla: yes

#158 Introduce PHPStan to CI
  .travis.yml
  phpstan.neon.dist
Labels: cla: yes

#160 Prevent trailing slashes redirect for stylesheet.
  inc/class-core-sitemaps-index.php
Labels: cla: yes

#157 Improve unit tests
  tests/assets/normalize-xml.xsl
  tests/phpunit/sitemaps-renderer.php
  tests/wp-tests-config.php
Labels: cla: yes

#162 Add missing return value
  inc/class-core-sitemaps.php
Labels: Type: Bug, cla: yes

#165 Exclude private posts even for logged-in users
  inc/class-core-sitemaps-provider.php
  tests/phpunit/sitemaps.php
Labels: cla: yes

#150 Move rewrite rule logic out of provider
  core-sitemaps.php
  inc/class-core-sitemaps-posts.php
  inc/class-core-sitemaps-provider.php
  inc/class-core-sitemaps-registry.php
  inc/class-core-sitemaps-taxonomies.php
  inc/class-core-sitemaps-users.php
  inc/class-core-sitemaps.php
  tests/phpunit/inc/class-core-sitemaps-test-provider.php
  tests/phpunit/sitemaps-renderer.php
  tests/phpunit/sitemaps-taxonomies.php
  tests/phpunit/sitemaps.php
Labels: Type: Enhancement, cla: yes

#138 Bail early if search engines are discouraged
  inc/functions.php
  tests/phpunit/sitemaps-index.php
Labels: cla: yes

#168 Rewrites: add _ (underscore) to the sub-type clause of the rewrites regex, so that the built-in post_tag taxonomy is matched.
  inc/class-core-sitemaps.php
Labels: Type: Bug, cla: yes
