Repository GoogleChromeLabs/wp-sitemaps, pull requests merged in 2020-05, with the labels that each got.

#173 Improve PHP Inline Documentation
  inc/class-core-sitemaps-index.php
  inc/class-core-sitemaps-posts.php
  inc/class-core-sitemaps-provider.php
  inc/class-core-sitemaps-registry.php
  inc/class-core-sitemaps-renderer.php
  inc/class-core-sitemaps-stylesheet.php
  inc/class-core-sitemaps-taxonomies.php
  inc/class-core-sitemaps-users.php
  inc/class-core-sitemaps.php
  inc/functions.php
  readme.txt
Labels: cla: yes

#170 Move providers into their own subdirectory.
  core-sitemaps.php
  inc/providers/class-core-sitemaps-posts.php
  inc/providers/class-core-sitemaps-taxonomies.php
  inc/providers/class-core-sitemaps-users.php
Labels: cla: yes

#171 Make registry API methods consistent in naming
  inc/class-core-sitemaps-registry.php
  inc/class-core-sitemaps.php
Labels: cla: yes

#172 Remove some easily avoidable coupling between classes and WP details
  inc/class-core-sitemaps-index.php
  inc/class-core-sitemaps-renderer.php
  inc/class-core-sitemaps-stylesheet.php
  inc/class-core-sitemaps.php
  tests/phpunit/inc/class-core-sitemaps-test-provider.php
  tests/phpunit/sitemaps-index.php
  tests/phpunit/sitemaps-renderer.php
  tests/phpunit/sitemaps.php
Labels: cla: yes

#124 #86 Add test coverage for API filters
  README.md
  inc/class-core-sitemaps-stylesheet.php
  readme.txt
  tests/phpunit/functions.php
  tests/phpunit/sitemaps-posts.php
  tests/phpunit/sitemaps-stylesheet.php
  tests/phpunit/sitemaps-taxonomies.php
  tests/phpunit/sitemaps-users.php
  tests/phpunit/sitemaps.php
Labels: cla: yes

#176 Bugfix/grammar
  README.md
  composer.json
  core-sitemaps.php
  inc/class-core-sitemaps-stylesheet.php
  readme.txt
Labels: cla: yes

#174 More consistent naming, docs and behavior around object types and subtypes
  inc/class-core-sitemaps-provider.php
  inc/class-core-sitemaps.php
  inc/functions.php
  inc/providers/class-core-sitemaps-posts.php
  inc/providers/class-core-sitemaps-taxonomies.php
  inc/providers/class-core-sitemaps-users.php
  tests/phpunit/functions.php
  tests/phpunit/inc/class-core-sitemaps-test-provider.php
  tests/phpunit/sitemaps-posts.php
  tests/phpunit/sitemaps-taxonomies.php
Labels: cla: yes

#179 Fix minor grammar issue in readme
  README.md
  readme.txt
Labels: cla: yes

#181 Prepare 0.3.0 release
  CHANGELOG.md
  core-sitemaps.php
  readme.txt
Labels: Type: Task, cla: yes

#175 Fix/address docs review
  docs/CONTRIBUTING.md
  docs/README.md
  docs/TESTING.md
  inc/class-core-sitemaps-index.php
  inc/class-core-sitemaps-provider.php
  inc/class-core-sitemaps-renderer.php
  inc/class-core-sitemaps.php
  inc/functions.php
  inc/providers/class-core-sitemaps-posts.php
  inc/providers/class-core-sitemaps-taxonomies.php
  inc/providers/class-core-sitemaps-users.php
  tests/phpunit/functions.php
  tests/phpunit/inc/class-core-sitemaps-test-provider.php
  tests/phpunit/sitemaps-renderer.php
  tests/phpunit/sitemaps.php
Labels: cla: yes

#190 Bail early if there are no sitemap entries
  inc/class-core-sitemaps-index.php
  tests/phpunit/inc/class-core-sitemaps-empty-test-provider.php
  tests/phpunit/sitemaps-index.php
  tests/phpunit/sitemaps-registry.php
  tests/phpunit/sitemaps.php
  tests/wp-tests-bootstrap.php
Labels: cla: yes

#182 Remove "core" prefix in functions, hooks, and class file names.
  README.md
  core-sitemaps.php
  docs/SETUP.md
  inc/class-wp-sitemaps-index.php
  inc/class-wp-sitemaps-provider.php
  inc/class-wp-sitemaps-registry.php
  inc/class-wp-sitemaps-renderer.php
  inc/class-wp-sitemaps-stylesheet.php
  inc/class-wp-sitemaps.php
  inc/functions.php
  inc/providers/class-wp-sitemaps-posts.php
  inc/providers/class-wp-sitemaps-taxonomies.php
  inc/providers/class-wp-sitemaps-users.php
  package-lock.json
  package.json
  phpcs.xml.dist
  readme.txt
  tests/app/wp-config.php
  tests/phpunit/functions.php
  tests/phpunit/inc/class-wp-sitemaps-empty-test-provider.php
  tests/phpunit/inc/class-wp-sitemaps-test-provider.php
  tests/phpunit/sitemaps-index.php
  tests/phpunit/sitemaps-posts.php
  tests/phpunit/sitemaps-registry.php
  tests/phpunit/sitemaps-renderer.php
  tests/phpunit/sitemaps-stylesheet.php
  tests/phpunit/sitemaps-taxonomies.php
  tests/phpunit/sitemaps-users.php
  tests/phpunit/sitemaps.php
  tests/wp-tests-bootstrap.php
  tests/wp-tests-config.php
Labels: cla: yes

#193 Fix API oddity so that provider without subtypes can actually return empty array
  inc/class-wp-sitemaps-provider.php
Labels: cla: yes

#191 Add new filters for individual sitemap entries
  inc/providers/class-wp-sitemaps-posts.php
  inc/providers/class-wp-sitemaps-taxonomies.php
  inc/providers/class-wp-sitemaps-users.php
Labels: cla: yes

#194 Remove unnecessary code
  inc/class-wp-sitemaps-provider.php
  inc/class-wp-sitemaps.php
  inc/providers/class-wp-sitemaps-posts.php
  inc/providers/class-wp-sitemaps-taxonomies.php
Labels: cla: yes

#200 Refactor `assertXMLEqual()` to work around a bug in `DOMDocument::loadXml()`
  tests/phpunit/sitemaps-renderer.php
Labels: Type: Bug, cla: yes

#183 Add filter to modify WP_Query arguments
  inc/class-wp-sitemaps-provider.php
  inc/class-wp-sitemaps.php
  inc/providers/class-wp-sitemaps-posts.php
  inc/providers/class-wp-sitemaps-taxonomies.php
  inc/providers/class-wp-sitemaps-users.php
  tests/phpunit/inc/class-wp-sitemaps-empty-test-provider.php
  tests/phpunit/inc/class-wp-sitemaps-test-provider.php
Labels: cla: yes

#195 Remove `*_url_list` filters
  README.md
  inc/providers/class-wp-sitemaps-posts.php
  inc/providers/class-wp-sitemaps-taxonomies.php
  inc/providers/class-wp-sitemaps-users.php
  readme.txt
  tests/phpunit/sitemaps-posts.php
  tests/phpunit/sitemaps-taxonomies.php
  tests/phpunit/sitemaps-users.php
  tests/phpunit/sitemaps.php
Labels: cla: yes
